<div class="col-lg-4 ls">
    <div class="row">
        <div class="col-lg-6">
        </div>
        <!-- Navbar -->
        <div class="col-lg-6 l">
            <div class="twittericon">
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="twittermenu">
                <div class="ultwitter-menu">
                    <li class="home" href="#">
                        <i class="fas fa-home "></i>
                        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="explore" href="#">
                        <i class="fas fa-hashtag "></i>
                        <a asp-controller="Explore" asp-action="Index">Keşfet</a>
                    </li>
                    <li class="notification" href="#">
                        <i class="fas fa-bell "></i>
                        <a asp-controller="Notification" asp-action="Index">Bildirimler</a>
                    </li>
                    <li class="message" href="#">
                        <i class="fas fa-envelope "></i>
                        <a asp-controller="Message" asp-action="Index">Mesajlar</a>
                    </li>
                    <li class="location" href="#">
                        <i class="fas fa-envelope "></i>
                        <a asp-controller="Location" asp-action="Index">Yer İşaretleri</a>
                    </li>
                    <li class="liste" href="#">
                        <i class="fas fa-list-alt "></i>
                        <a asp-controller="List" asp-action="Index"> Listeler</a>
                    </li>
                    <li class="profile" href="#">
                        <i class="fas fa-user"></i>
                        <a asp-controller="Profile" asp-action="Index">Profil</a>
                    </li>
                    <li class="more" href="#">
                        <i class="far fa-comment-dots"></i>
                        <a href="#">Daha fazla</a>
                    </li>
                </div>
                <div class="menutweet">
                    <a id="lsidebutton" class="buttontweet" href="#">
                        Tweetle
                    </a>
                </div>
                <div class="dropdown">
                    <div class="lsprofile borderalt">
                        <img src="https://pbs.twimg.com/profile_images/1460701250643759106/HrBxj5bQ_400x400.jpg" alt="">
                        <div class="lsidename">
                            <a href="#">Simon Doe</a>
                            <span>
                                SimonDoe
                            </span>

                        </div>
                        <!-- <a class="threedot" href=""><i class="fas fa-check"></i></a> -->

                    </div>
                    <div class="drop-menu">
                        <li>
                            <a href="#">Var olan bir hesap ekle</a>
                        </li>
                        <li>
                            <a href="#">Hesaptan çıkış yap</a>
                        </li>
                    </div>
                </div>
                <div class="lsprofile lsidepp">
                    <img src="https://pbs.twimg.com/profile_images/1460701250643759106/HrBxj5bQ_400x400.jpg" alt="">
                    <div class="lsidename">
                        <a href="#">Simon Doe</a>
                        <span>
                            SimonDoe
                        </span>
                    </div>
                    <a class="threedot" href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>