<div class="whofollow">
    <div class="top">
        <h6>Kimi Takip Etmeli</h6>
    </div>
    <div class="topfollow">
        <li class="tops">
            <div class="topprofie">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                <div class="profilesec">
                    <a href="#">Deva Partisi</a>
                    <span>devapartisi</span>
                </div>
                <div class="followbutton">
                    <a href="#">Takip Et</a>
                </div>
            </div>
        </li>
        <li class="tops">
            <div class="topprofie">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                <div class="profilesec">
                    <a href="#">Deva Partisi</a>
                    <span>devapartisi</span>
                </div>
                <div class="followbutton">
                    <a href="#">Takip Et</a>
                </div>
            </div>
        </li>
        <li class="tops">
            <div class="topprofie">
                <img src="https://picsum.photos/id/237/200/300" alt="">
                <div class="profilesec">
                    <a href="#">Deva Partisi</a>
                    <span>devapartisi</span>
                </div>
                <div class="followbutton">
                    <a href="#">Takip Et</a>
                </div>
            </div>
        </li>
        <li class="endmore">
            <div class="more">
                <a href="">Daha fazla göster</a>
            </div>
        </li>
    </div>
</div>