<partial name="_Search1" />


<div class="explorebigimg">
    <img src="https://picsum.photos/seed/picsum/336/674" alt="" />
</div>

<partial name="_Trends1" />
<partial name="_Post" />

@section Sidebar{

<partial name="_TrendsUser" />
<partial name="_Footer" />

}




