.mainarea {
    border-block-end: 1px solid rgb(47, 51, 54);
}

.mainpage {
    color: #D9D9D9;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-family: inherit;
}

.popbox1 {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
    background: black;
    border-radius: 15px;
    max-width: 800px;
    max-height: 170px;
}

.popchat1 {
    display: flex;
    color: #D9D9D9;
    flex-direction: row;
}

.buttontweeti {
    display: flex;
    justify-content: center;
    padding: 7px 38px;
    border-radius: 9999px;
    background-color: rgb(29, 155, 240);
    color: #D9D9D9;
}

    .popchat1 img {
        width: 60px;
        height: 60px;
        border-radius: 9999px;
        margin-top: 15px;
    }

.chatarea1 {
    display: flex;
    color: #D9D9D9;
    flex-direction: column;
    height: 140px;
    width: 100%;
    position: relative;
    margin-left: 5px;
}

    .chatarea1 a {
        text-decoration: none;
    }


    .chatarea1 .txtarea1 {
        width: 90%;
        height: 100px;
        background: black;
        color: #D9D9D9;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        padding: 20px;
    }

.popfooter1 {
    width: 90%;
    display: flex;
    color: #D9D9D9;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.popnav1 {
    display: flex;
    color: #D9D9D9;
    flex-direction: row;
}

.popfooter1 a {
    display: flex;
    color: #D9D9D9;
    width: 25px;
    text-decoration: none;
    align-items: center;
}

.everyoneResponse1 {
    display: none;
    position: absolute;
    bottom: 65px;
    left: 15px;
    font-size: 16px;
    color: rgb(23, 23, 245);
    cursor: pointer;
    font-weight: 500;
}



.box {
    display: flex;
    flex-direction: column;
    border-block-end: 1px solid rgb(47, 51, 54);
    height: auto;
    color: #D9D9D9;
    margin: 20px 0px;
    padding-bottom: 20px;
}

.profilename {
    display: flex;
    flex-direction:column;
    
}

    .profilename a {
        margin-left: 10px;
        text-decoration: none;
    }

.profilesett span {
    margin-left: 200px;
}

.center .box:last-child {
    border-block-end: none;
}

.box .tweetTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    
    justify-content: flex-start;
    color: #D9D9D9;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

    .box .tweetTitle span:last-child {
        position: absolute;
        right: 15px;
        cursor: pointer;
        color: #D9D9D9;
    }

    .box .tweetTitle .titleImg img {
        width: 60px;
        height: 60px;
        border-radius: 9999px;
        background-size: cover;
    }

    .box .tweetTitle a {
        max-width: 200px;
        overflow: hidden;
    }

    .box .tweetTitle .username {
        font-size: 13px;
    }

.box .row2 {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    color: #D9D9D9;
    width: 75%;
    justify-content: center;
}

    .box .row2 .tweetContent {
        overflow: hidden;
        text-align: start;
        margin-bottom: 15px;
        
        color: #D9D9D9;
    }

.tweetContentImg {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #D9D9D9;
}

    .tweetContentImg span {
        position: absolute;
        z-index: 999;
        bottom: 0;
        color: #fff;
        background: #3a3a3a;
        margin: 20px 10px 10px 20px;
        padding: 1px;
    }

        .tweetContentImg span:last-child {
            margin-left: 60px;
        }

.box .row2 .tweetContent p {
    line-height: 22px;
    text-decoration:none;
}

.box .row2 .tweetContent img {
    margin-top: 15px;
    background-size: cover;
    border-radius: 15px;
    width: 100%;
}

.box .row2 .tweetNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    
}

    .box .row2 .tweetNav li {
        list-style: none;
    }

    .timer {
        margin-top: 2px;
        margin-left: 12px;
        font-size: 12px;
        opacity: 0.7;
    }

.retweetbox {
    padding: 20px 20px;
    display: none;
    flex-direction: column;
    background: black;
    border-radius: 15px;
    max-width: 550px;
    border: 1px solid;
    max-height: 260px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    z-index: 999;
}

